{{>navbar}}

<div class="container">

  <div class="jumbotron">
    <h3>Your Activities</h3>
    <p>
      I have plans for this page. I really do. However, right now 
      it is not even <em><b>W</b>ork <b>I</b>n <b>P</b>rogress</em>
    </p>
    <p>
      Meanwhile You can check out the <a href="/innovate">Innovate</a> page. It is 
      somewhat functional.
    </p>
  </div>

</div>
